In [1]:
import pandas as pd
import numpy as np
from yelp_scraper import YelpScraper

C:\Users\gx826tr\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\geopandas\_compat.py:112: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
yelp = YelpScraper()

In [3]:
yelp.generate_latlnong_grid(res=40,knwon_bus_thrs=20)

In [ ]:
yelp.get_businesses(radius=500,label='started20220713')

  0%|          | 0/494 [00:00<?, ?it/s]

In [4]:
yelp.cache

                    postcode           category
0                     1103SE             active
1                     1103SE               arts
2                     1103SE               auto
3                     1103SE          beautysvc
4                     1103SE           bicycles
...                      ...                ...
35581  52.352_4.8415_100x100          beautysvc
35582  52.352_4.8415_100x100           bicycles
35583  52.352_4.8415_100x100          education
35584  52.352_4.8415_100x100      eventservices
35585  52.352_4.8415_100x100  financialservices

[35586 rows x 2 columns]

In [5]:
yelp.new_bus

,id,name,url,review_count,rating,price,latitude,longitude,category
0,KuXwwhGwBNrY0E_5-4ZLOA,Efem,https://www.yelp.com/biz/efem-amsterdam-2?adju...,3,4.5,NaN,52.349856,4.840118,food
1,sEcgYf8QG5WT60q6x8iUnw,Croissanterie Eifeltoren,https://www.yelp.com/biz/croissanterie-eifelto...,3,4.5,€,52.351720,4.847780,food
2,PhdbstK_cxSC8ng7mnAUCw,Mr.Greens,https://www.yelp.com/biz/mr-greens-amsterdam?a...,1,5.0,NaN,52.356540,4.837940,food
3,yCj5mH5yhCce2cEZTGDO6w,Kader Market,https://www.yelp.com/biz/kader-market-amsterda...,2,3.5,€€,52.351465,4.848660,food
4,mNzlN629-Nh_b7lGt_MIhQ,Albert Heijn,https://www.yelp.com/biz/albert-heijn-amsterda...,2,2.5,NaN,52.348960,4.840290,food
...,...,...,...,...,...,...,...,...,...
0,pmG3H6plAPMN0P6FrYoVKA,Hockeyvereniging Myra,https://www.yelp.com/biz/hockeyvereniging-myra...,1,4.0,NaN,52.288664,4.855417,active
0,XIIQ2Yler9-jBE9znlCsxA,Pieter Bas Kapsalons,https://www.yelp.com/biz/pieter-bas-kapsalons-...,1,1.0,€,52.292751,4.855130,beautysvc
0,N0P-MQng-34h1yIUbiOJAQ,De Kazerie,https://www.yelp.com/biz/de-kazerie-amstelveen...,2,5.0,NaN,52.292270,4.855030,food
1,2FV11svlCuz4NvdUwoV2sw,Patagonias,https://www.yelp.com/biz/patagonias-amstelveen...,2,5.0,€,52.296010,4.862770,food
2,72xSsGSoaGzKyDWB4nOzoA,Volendammer visspecialist,https://www.yelp.com/biz/volendammer-visspecia...,2,4.5,€€,52.292130,4.854310,food

In [7]:
x = len(yelp.known_bus)

In [8]:
yelp.save_new_bus()

In [9]:
y = len(yelp.known_bus)

In [10]:
y-x

47