In [19]:
import pandas as pd
import numpy as np
from yelp_scraper import YelpScraper

In [20]:
yelp = YelpScraper()

In [ ]:
yelp.get_businesses(by='reduced_postcode',radius=3000)

  0%|          | 0/145 [00:00<?, ?it/s]

In [21]:
yelp.cache

      postcode       category
0       1103SE         active
1       1103SE           arts
2       1103SE           auto
3       1103SE      beautysvc
4       1103SE       bicycles
...        ...            ...
14899     1432  localservices
14900     1432      massmedia
14901     1432      nightlife
14902     1432           pets
14903     1432   professional

[14904 rows x 2 columns]

In [11]:
yelp.new_bus

,id,name,url,review_count,rating,price,latitude,longitude,category
0,t5VLrTcfsARNoz8rPipT2A,SALTO Amsterdam,https://www.yelp.com/biz/salto-amsterdam-amste...,3,4.0,NaN,52.376845,4.922117,massmedia
1,-Lmsn8l20zRxcKzJaUBriQ,Het Parool,https://www.yelp.com/biz/het-parool-amsterdam?...,3,4.5,NaN,52.371200,4.927730,massmedia
2,qv1laUlza_Xq8R5KZ6rQsA,Glamsterdam,https://www.yelp.com/biz/glamsterdam-amsterdam...,3,4.5,NaN,52.376140,4.891940,massmedia
3,6wMMK74c4O6TKIwZhHfYZg,Time Out Magazine,https://www.yelp.com/biz/time-out-magazine-ams...,2,4.5,NaN,52.372260,4.907930,massmedia
4,eKiPXSO7SJGFiWvuc_dPyA,Amsterdam Magazine,https://www.yelp.com/biz/amsterdam-magazine-am...,2,5.0,NaN,52.367450,4.887630,massmedia
...,...,...,...,...,...,...,...,...,...
1,YSIo1hZXR0Wvszgp4eAPOg,Cafe Sportzicht,https://www.yelp.com/biz/cafe-sportzicht-aalsm...,1,5.0,NaN,52.266340,4.765580,nightlife
2,0AtgHofVg7ujOphcwd3_hA,Eetcafé De Zwarte Ruiter,https://www.yelp.com/biz/eetcaf%C3%A9-de-zwart...,1,5.0,NaN,52.271910,4.751510,nightlife
3,Rfu6F6DkF9HRmzT248GxhQ,Frames Bar en Bites,https://www.yelp.com/biz/frames-bar-en-bites-s...,4,3.5,NaN,52.301038,4.752076,nightlife
4,Hr0PgzQOlcsQcyGR7dv03A,Joseph,https://www.yelp.com/biz/joseph-aalsmeer?adjus...,4,3.0,€€,52.262129,4.752100,nightlife
0,cBffZ-WGRK6jEwdoe8Rb2A,Orange Copy House,https://www.yelp.com/biz/orange-copy-house-ams...,8,2.5,NaN,52.368190,4.876130,professional

In [13]:
yelp.save_new_bus()

In [14]:
yelp.known_bus

,id,name,url,review_count,rating,price,latitude,longitude,category
0,HiTvXgMKfzcRI_JuMOIR0w,Kinderboerderij de Bijlmerweide,https://www.yelp.com/biz/kinderboerderij-de-bi...,3,4.5,NaN,52.326077,4.988418,active
1,6Ftwikv5A7Hfq7bj5QVYTw,Yoga Sudio Diemen,https://www.yelp.com/biz/yoga-sudio-diemen-die...,1,5.0,€€,52.334237,4.979843,active
2,8H1dud8UBMBrmC0tBuYz_A,Nelson Mandela Park,https://www.yelp.com/biz/nelson-mandela-park-a...,2,4.0,NaN,52.313150,4.962639,active
3,BfzOG-4ytctehHANXCUBYg,Zeilvereniging Gaasperplas,https://www.yelp.com/biz/zeilvereniging-gaaspe...,1,4.0,NaN,52.305060,4.980390,active
4,qkbPTjovzkmnj2AATjXYXg,Train More,https://www.yelp.com/biz/train-more-diemen?adj...,1,4.0,NaN,52.339001,4.970230,active
...,...,...,...,...,...,...,...,...,...
8156,4dkzPVGYEO0SVbtBTSJHdA,Restaurant Eetze,https://www.yelp.com/biz/restaurant-eetze-aals...,1,1.0,€€€,52.268589,4.752180,restaurants
8157,TvrL8w6OPNg8RcKyOD4CJA,Luchtvaart Hobby Shop,https://www.yelp.com/biz/luchtvaart-hobby-shop...,1,5.0,NaN,52.274623,4.751367,shopping
8158,-gc819tM4t3UijOPM7NZtg,Tribune,https://www.yelp.com/biz/tribune-schiphol?adju...,6,2.5,€€€,52.303559,4.763096,food
8159,CZepT294lLtmtG2PjeF_Yg,Cafe Comunal,https://www.yelp.com/biz/cafe-comunal-schiphol...,5,3.5,€,52.301312,4.768837,nightlife
8160,Rfu6F6DkF9HRmzT248GxhQ,Frames Bar en Bites,https://www.yelp.com/biz/frames-bar-en-bites-s...,4,3.5,NaN,52.301038,4.752076,nightlife

In [15]:
yelp.new_bus

Empty DataFrame
Columns: []
Index: []

In [17]:
y = YelpScraper()

In [18]:
y.cache['postcode'].unique()

array(['1103SE', '1103TV', '1073ST', '1106AG', '1065LW', '1066LK',
       '1103SC', '1015RR', '1058VG', '1078LM', '1103GZ', '1072BW',
       '1063MD', '1058NL', '1017VK', '1034BM', '1106JG', '1073GP',
       '1055DW', '1072GZ', '1075TL', '1024KM', '1012TA', '1107HV',
       '1087HJ', '1104TX', '1057PX', '1054WP', '1082MT', '1098HR',
       '1055CM', '1057PC', '1095DS', '1058JR', '1019RD', '1082EG',
       '1067DJ', '1012EX', '1078CM', '1012TK', '1035AT', '1025AT',
       '1019PS', '1055KP', '1055KR', '1056AD', '1092HX', '1011NC',
       '1069DA', '1054MH', '1077RW', '1068JD', '1054KK', '1068MS',
       '1079VL', '1057NG', '1066MT', '1055XP', '1095AE', '1018AK',
       '1057HM', '1106AE', '1054CD', '1059XR', '1015BT', '1067MX',
       '1063PR', '1106EE', '1016VW', '1053ZC', '1019JH', '1068CD',
       '1018LP', '1065GA', '1105AW', '1102ZK', '1052ER', '1106ES',
       '1058DP', '1083JE', '1091CZ', '1013KB', '1012XM', '1067PV',
       '1058PC', '1057JV', '1075VW', '1108BS', '1095JD', '1086ZG',
       '1021TR', '1057DH', '1078RM', '1035CT', '1093JD', '1015CL',
       '1108HR', '1095EW', '1105BM', '1102AV', '1067JK', '1024AL',
       '1065TJ', '1056WR', '1017VM', '1097GC', '1091DE', '1018BC',
       '1094XZ', '1107CS', '1086ZJ', '1073XR', '1055LM', '1023AD',
       '1097AL', '1057JC', '1094GG', '1053GD', '1055JT', '1075RG',
       '1107TE', '1063NJ', '1098TJ', '1103MT', '1106DC', '1078TZ',
       '1054DJ', '1087KD', '1104VB', '1083XH', '1064CX', '1068EW',
       '1052GN', '1102KA', '1106CX', '1075SG', '1102AL', '1054TZ',
       '1036KD', '1018WR', '1059AK', '1073EJ', '1057WR', '1015ZP',
       '1072JC', '1061BD', '1016VS', '1061TH', '1058VM', '1074ED',
       '1087DE', '1018SX', '1051JW', '1091HN', '1056VE', '1093MJ',
       '1073BZ', '1058HZ', '1058XZ', '1017VC', '1079BT', '1019WJ',
       '1087LD', '1025LH', '1061AG', '1034CK', '1092JB', '1035XM',
       '1078LL', '1034TR', '1055ND', '1107LG', '1076LZ', '1102CA',
       '1058AG', '1059BD', '1057NJ', '1107KD', '1013AW', '1061BM',
       '1096GJ', '1054VE', '1076LJ', '1057RW', '1056TJ', '1062AL',
       '1051KS', '1025VN', '1011TE', '1185BN', '1181JM', '1185KM',
       '1182HN', '1185BE', '1187NL', '1188CG', '1186WD', '1186DJ',
       '1111LS', '1113LH', '1111KD', '1111GE', '1111LP', '1112NM',
       '1112WW', '1112PR', '1111NN', '1504HJ', '1502GL', '1507EC',
       '1507XA', '1505TK', '1505CB', '1506TX', '1506CM', '2022EB',
       '2022XR', '2014CP', '2014RK', '2032EA', '2021JC', '2031CD',
       '2012VD', '2013GE', '2013ZJ', '2022AA', '2032LM', '2011SN',
       '2036RJ', '2013BL', '2034AD', '2034LJ', '2011GT', '2021HM',
       '1382HK', '1077BA', '1017LB', '1016BC', '1087KA', '1087MN',
       '1054GZ', '1069KE', '1033NT', '1017WP', '1075CK', '1087AX',
       '1015BL', '1075AJ', '1017EA', '1034KV', '1021BM', '1015RG',
       '1016KE', '1019XA', '1032ED', '1087VV', '1025MS', '1060RJ',
       '1017NA', '1082BB', '1019JV', '1069NE', '1011PW', '1016HH',
       '1104MM', '1087JJ', '1064AB', '1014ZG', '1106HA', '1103MK',
       '1081HA', '1054LR', '1066WK', '1066DE', '1022LK', '1054GE',
       '1015PK', '1077DT', '1016BX', '1051AM', '1018ZL', '1061ME',
       '1071HG', '1019RK', '1103DS', '1103PP', '1072MK', '1106WS',
       '1071LJ', '1082MS', '1082GM', '1031HX', '1054ZA', '1019RR',
       '1018KZ', '1086VA', '1021LK', '1018MP', '1018TN', '1018DH',
       '1071AK', '1094NP', '1071GG', '1013MM', '1075KK', '1015RW',
       '1071WR', '1031KE', '1018LC', '1031KG', '1013SR', '1012VE',
       '1077NL', '1017GP', '1055DD', '1018LG', '1087EH', '1068VM',
       '1011JH', '1013RJ', '1015XN', '1064CR', '1017BA', '1096GG',
       '1011MG', '1073TS', '1083XD', '1077KP', '1076PX', '1102SW',
       '1057VG', '1062ER', '1025ZD', '1072SX', '1058NH', '1102ST',
       '1018DT', '1013VJ', '1058SK', '1082EP', '1018TB', '1096GD',
       '1057BH', '1015SV', '1019VK', '1051KX', '1019AG', '1025DZ',
       '1096DS', '1094JZ', '1053BG', '1032LL', '1077BP', '1098BP',
       '1072LC', '1093ED', '1092AM', '1083DA', '1078AC', '1017CD',
       '1018DE', '1033RD', '1033WW', '1079RH', '1076DT', '1078DN',
       '1083KD', '1074GZ', '1016AD', '1079LX', '1078NT', '1108GZ',
       '1091BS', '1075CP', '1078MT', '1091CW', '1015DT', '1015HB',
       '1013SZ', '1059VS', '1018MX', '1071PG', '1087KN', '1031KB',
       '1058GZ', '1011LE', '1015AD', '1091TJ', '1018BT', '1061DL',
       '1015MV', '1071JH', '1016HV', '1016CG', '1073VW', '1078XB',
       '1102TD', '1018KA', '1018GJ', '1017BM', '1097ZW', '1083JR',
       '1098XA', '1016AH', '1078HE', '1017RX', '1071ZS', '1077KG',
       '1012RM', '1018WK', '1066LH', '1072VC', '1015TH', '1082RC',
       '1016PL', '1016VX', '1016EJ', '1013NJ', '1014ZL', '1071JD',
       '1017KG', '1054DE', '1071GN', '1017WV', '1071RW', '1075SL',
       '1019HJ', '1035BG', '1052LD', '1012CJ', '1015MN', '1072GL',
       '1073XZ', '1015DV', '1091SZ', '1054ES', '1051PA', '1076NZ',
       '1075HM', '1078NH', '1013HG', '1016GX', '1077CN', '1012VN',
       '1104PH', '1017XN', '1054GG', '1057GV', '1076DX', '1108DB',
       '1075XL', nan, 'AA', 'AB', 'AC', 'AD', 'AE', 'AG', 'AH', 'AJ',
       'AK', 'AL', 'AM', 'AN', 'AP', 'AR', 'AS', 'AT', 'AV', 'AW', 'AX',
       'AZ', 'BA', 'BB', 'BC', 'BD', 'BE', 'BG', 'BH', 'BJ', 'BK', 'BL',
       'BM', 'BN', 'BP', 'BR', 'BS', 'BT', 'BV', 'BW', 'BX', 'BZ', 'CA',
       'CB', 'CC', 'CD', 'CE', 'CG', 'CH', 'CJ', 'CK', 'CL', 'CM', 'CN',
       'CP', 'CR', 'CS', 'CT', 'CV', 'CW', 'CX', 'CZ', 'DA', 'DB', 'DC',
       'DD', 'DE', 'DG', 'DH', 'DJ', 'DK', 'DL', 'DM', 'DN', 'DP', 'DR',
       'DS', 'DT', 'DV', 'DW', 'DX', 'DZ', 'EA', 'EB', 'EC', 'ED', 'EE',
       'EG', 'EH', 'EJ', 'EK', 'EL', 'EM', 'EN', 'EP', 'ER', 'ES', 'ET',
       'EV', 'EW', 'EX', 'EZ', 'GA', 'GB', 'GC', 'GD', 'GE', 'GG', 'GH',
       'GJ', 'GK', 'GL', 'GM', 'GN', 'GP', 'GR', 'GS', 'GT', 'GV', 'GW',
       'GX', 'GZ', 'HA', 'HB', 'HC', 'HD', 'HE', 'HG', 'HH', '1011',
       '1012', '1013', '1014', '1015', '1016', '1017', '1018', '1019',
       '1021', '1022', '1023', '1024', '1025', '1026', '1027', '1028',
       '1031', '1032', '1033', '1034', '1035', '1036', '1037', '1043',
       '1051', '1052', '1053', '1054', '1055', '1056', '1057', '1058',
       '1059', '1060', '1061', '1062', '1063', '1064', '1065', '1066',
       '1067', '1068', '1069', '1071', '1072', '1073', '1074', '1075',
       '1076', '1077', '1078', '1079', '1081', '1082', '1083', '1086',
       '1087', '1091', '1092', '1093', '1094', '1095', '1096', '1097',
       '1098', '1101', '1102', '1103', '1104', '1105', '1106', '1107',
       '1108', '1109', '1111', '1112', '1113', '1115', '1161', '1171',
       '1181', '1182', '1183', '1184', '1185', '1186', '1187', '1188',
       '1189', '1191', '1381', '1382', '1383', '1384', '1421', '1422',
       '1423', '1431', '1432'], dtype=object)

In [24]:
y.known_bus.iloc[-1]['url']

'https://www.yelp.com/biz/ottomania-haarlem?adjust_creative=36CiYOl4Kf525knEbUByyg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=36CiYOl4Kf525knEbUByyg'