In [1]:
import pandas as pd
import numpy as np
from yelp_scraper import YelpScraper

C:\Users\gx826tr\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\geopandas\_compat.py:112: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
yelp = YelpScraper()

In [3]:
#yelp.generate_latlong_grid(res=40,knwon_bus_thrs=20)

In [3]:
yelp.latlng_grid

     latitude  longitude                                          id
0     52.2700     4.7495                52.27_4.7495_started20220713
1     52.2635     4.7620  52.2635_4.7620000000000005_started20220713
2     52.2635     4.7745              52.2635_4.7745_started20220713
3     52.2700     4.7620    52.27_4.7620000000000005_started20220713
4     52.2330     4.6865               52.233_4.6865_started20220713
..        ...        ...                                         ...
489   52.4680     4.8250                52.468_4.825_started20220713
490   52.4680     4.8375               52.468_4.8375_started20220713
491   52.4680     4.8500                 52.468_4.85_started20220713
492   52.4500     4.8125                52.45_4.8125_started20220713
493   52.4440     4.8125               52.444_4.8125_started20220713

[494 rows x 3 columns]

In [ ]:
yelp.get_businesses(radius=500,label='started20220713')

  0%|          | 0/494 [00:00<?, ?it/s]

In [31]:
yelp.cache

                            postcode   category
0                             1103SE     active
1                             1103SE       arts
2                             1103SE       auto
3                             1103SE  beautysvc
4                             1103SE   bicycles
...                              ...        ...
45564  52.257_4.9505_started20220713       arts
45565  52.257_4.9505_started20220713       auto
45566  52.257_4.9505_started20220713  beautysvc
45567  52.257_4.9505_started20220713   bicycles
45568  52.257_4.9505_started20220713  education

[45569 rows x 2 columns]

In [25]:
yelp.known_bus.drop(columns=['geometry'],inplace=True)

In [33]:
yelp.latlng_grid.to_csv('./data/latlng_grid.csv',index=False)

In [26]:
x = len(yelp.known_bus)

In [35]:
yelp.cache.rename(columns={'postcode':'id'},inplace=True)

In [36]:
yelp.cache.to_csv('./data/yelp_cache.csv',index=False)

In [41]:
yelp.latlng_grid['id'] = yelp.latlng_grid['latitude'].astype('str') + '_' + yelp.latlng_grid['longitude'].astype('str') + '_' + 'started20220713'

In [43]:
yelp.latlng_grid.to_csv('./data/latlng_grid.csv',index=False)

In [27]:
yelp.save_new_bus()

In [28]:
y = len(yelp.known_bus)

In [29]:
y-x

16

In [30]:
test.known_bus

,id,name,url,review_count,rating,price,latitude,longitude,category,geometry
0,HiTvXgMKfzcRI_JuMOIR0w,Kinderboerderij de Bijlmerweide,https://www.yelp.com/biz/kinderboerderij-de-bi...,3,4.5,NaN,52.326077,4.988418,active,POINT (4.98842 52.32608)
1,6Ftwikv5A7Hfq7bj5QVYTw,Yoga Sudio Diemen,https://www.yelp.com/biz/yoga-sudio-diemen-die...,1,5.0,€€,52.334237,4.979843,active,POINT (4.97984 52.33424)
2,8H1dud8UBMBrmC0tBuYz_A,Nelson Mandela Park,https://www.yelp.com/biz/nelson-mandela-park-a...,2,4.0,NaN,52.313150,4.962639,active,POINT (4.96264 52.31315)
3,BfzOG-4ytctehHANXCUBYg,Zeilvereniging Gaasperplas,https://www.yelp.com/biz/zeilvereniging-gaaspe...,1,4.0,NaN,52.305060,4.980390,active,POINT (4.98039 52.30506)
4,qkbPTjovzkmnj2AATjXYXg,Train More,https://www.yelp.com/biz/train-more-diemen?adj...,1,4.0,NaN,52.339001,4.970230,active,POINT (4.97023 52.33900)
...,...,...,...,...,...,...,...,...,...,...
12327,kmcjeTBrvY33hbf7D2ht6Q,Rosie's,https://www.yelp.com/biz/rosies-amsterdam-2?ad...,1,4.0,NaN,52.372725,4.877352,restaurants,POINT (4.87735 52.37272)
12328,YLyEfg8xbo4nexVyN_zLSQ,Ali Baba,https://www.yelp.com/biz/ali-baba-amsterdam-2?...,4,2.0,NaN,52.372645,4.876809,restaurants,POINT (4.87681 52.37264)
12329,fOdBh8Jg1__HAWqbepu7EA,Andas Bar,https://www.yelp.com/biz/andas-bar-amsterdam?a...,2,2.0,NaN,52.372779,4.876142,restaurants,POINT (4.87614 52.37278)
12330,ffrhS71WaGdGX_k_ka_PZw,Albert Heijn,https://www.yelp.com/biz/albert-heijn-amsterda...,12,4.0,€€,52.348845,4.878026,food,POINT (4.87803 52.34884)
12331,w8x4NzlvWiqDO25tj03YcA,Kenko Kitchen,https://www.yelp.com/biz/kenko-kitchen-amsterd...,4,2.5,€€,52.336725,4.871674,restaurants,POINT (4.87167 52.33673)